/* Arcane Ward Automation toggle switch styling */
.arcane-ward-wrap {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.arcane-ward-toggle {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.arcane-ward-toggle-title {
    text-align: center;
}

.arcane-ward-toggle-icon {
    cursor: pointer;
    color: #999;
}

.arcane-ward-wrap-disabled > .arcane-ward-toggle-icon {
    color: #c54444
}

.arcane-ward-wrap-disabled:hover > .arcane-ward-toggle-icon {
    color: #c52828;

}
.arcane-ward-wrap-enabled > .arcane-ward-toggle-icon {
    color: #44c546;
}

.arcane-ward-wrap-enabled:hover > .arcane-ward-toggle-icon {
    color: #006600;
}

/* Dialog styling */

.arcane-warding-dialog {
    width: 500px;
}
